<div class="container text-center">
  <form class="form-horizontal" ng-submit="submitNewRoom()">
    <fieldset>
      <!-- Form Name -->
      <legend>Start your own chat room!</legend>
      <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
      <div class="input-group add-on">
        <input type="text" class="form-control" placeholder="Title for the room" ng-model="newRoomTitle" required>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">Start</button>
        </div>
      </div>
      </div>
    </fieldset>
  </form>
  </br>
  <p>Choose a name for your chat and click start, then send the url to your friends.</p>
</div>